/test-output
/target
/BmwFullText.png
/BMWX5FullText.png
/BummerFullText.png
/FindSinonims.png
/RentFlat.png
/StopWord.png
/SuggestAbsentInterest.png
/SuggestBMW.png
/SuggestCompare.png
/SuggestInterest.png
/SuggestMain.png
/FindSuggestCutLast.png
